<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/owl-carousel.css" />
<link rel="stylesheet" href="/arquivos/topo.css" />
<link rel="shortcut icon" href="/arquivos/favicon.png" />
<link rel="stylesheet" href="/arquivos/geral.css" />
<link rel="stylesheet" href="/arquivos/footer.css" />
<link rel="stylesheet" href="/arquivos/vitrine.css" />
<title>Colégio Gabarito</title>