<article class="icon">
    <!-- MUDE APENAS O LINK DA IMAGEM SRC="LINK" -->
    <img src="/arquivos/home-icon4.png" class="img-responsive" />
    <p>
        <!-- TEXTO ENTRE O ESPAÇO -->

        COMPRE COM SEGURANÇA

        <!-- TEXTO ENTRE O ESPAÇO -->
    </p>
</article> 