<article class="icon">
    <!-- MUDE APENAS O LINK DA IMAGEM SRC="LINK" -->
    <img src="/arquivos/home-icon4.png" class="img-responsive" />
    <p>
        <!-- TEXTO ENTRE O ESPAÇO -->

        Pague no boleto <strong>Com 5% de desconto</strong>

        <!-- TEXTO ENTRE O ESPAÇO -->
    </p>
</article>