.menu-navegue,
.sub:last-child,
fieldset.filterBy,
h6.filtro-mobile,
p.compare,
p.searchResultsTime {
    display:none
}
.max-container.departamento {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:0 auto;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
aside.department-title {
    margin-top:10px;
    margin-bottom:15px;
    padding-bottom:10px;
    border-bottom:1px solid var(--theme-color-2);
    width:100%
}
.bread-crumb li {
    display:inline-block
}
.bread-crumb li a {
    color:var(--theme-color-10);
    font-weight:500;
    font-size:12px
}
.bread-crumb li+li::before {
    content:">";
    display:inline-block;
    vertical-align:middle;
    font-weight:500;
    font-size:14px;
    margin-right:5px;
    color:var(--theme-color-9)
}
.department-link {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-flex:1.2;
    -ms-flex:1.2;
    flex:1.2;
    position:relative;
    padding-right:20px;
    margin-top:80px;
    max-width:225px
}
.search-single-navigator h3 a,
.search-single-navigator>h5 {
    color:var(--theme-color-2);
    font-weight:700;
    font-size:16px;
    padding-bottom:5px;
    border-bottom:1px solid var(--theme-color-6);
    margin-bottom:15px
}
.search-single-navigator h3 a::before {
    display:none
}
.search-single-navigator a {
    color:var(--theme-color-9);
    font-weight:500;
    font-size:12px;
    margin-bottom:14px;
    display:block
}
.search-single-navigator a::before {
    content:'';
    display:inline-block;
    width:12px;
    height:12px;
    border:1px solid var(--theme-color-9);
    margin-right:5px;
    cursor:pointer
}
ul.pages .first,
ul.pages .last {
    display:none
}
ul.pages {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:absolute;
    top:0;
    left:0
}
.department-products .main {
    position:relative
}
ul.pages .page-number {
    background:#fff;
    display:block;
    width:38px;
    text-align:center;
    height:38px;
    line-height:38px;
    font-weight:500;
    font-size:18px;
    color:#202020
}
.pager.bottom .pages {
    position:static;
    margin-bottom:50px
}
.pager.top {
    display:none
}
ul.pages .pgCurrent {
    background:var(--theme-color-2);
    color:#fff
}
.page-number+.page-number {
    margin-left:7px
}
ul.pages .previous {
    font-size:0;
    display:block;
    width:10px;
    height:10px;
    border-left:3px solid var(--theme-color-9);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    border-bottom:3px solid var(--theme-color-9);
    margin-right:10px
}
ul.pages .next {
    font-size:0;
    display:block;
    width:10px;
    height:10px;
    border-right:3px solid var(--theme-color-9);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    border-top:3px solid var(--theme-color-9);
    margin-left:10px
}
.department-products {
    -webkit-box-flex:2;
    -webkit-flex-grow:2;
    -ms-flex-positive:2;
    flex-grow:2;
    -webkit-flex:4;
    -ms-flex:4;
    flex:4;
    padding-left:40px;
    position:relative
}
fieldset.orderBy label {
    color:var(--theme-color-10);
    font-weight:500;
    font-size:10px
}
select#O {
    border:1px solid var(--theme-color-1);
    padding:5px;
    color:var(--theme-color-10);
    font-weight:500;
    font-size:12px;
    width:100px
}
select#O option {
    color:var(--theme-color-10);
    font-weight:500
}
.vitrine.resultItemsWrapper {
    margin-top:58px
}
.sub {
    text-align:right
}
.vitrine .vitrine .prateleira {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr
}
@media all and (max-width:991px) {
    .max-container.departamento {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center
    }
    .department-products {
        padding:0
    }
    .toggler-busca {
        display:block;
        text-align:center;
        height:35px;
        line-height:35px;
        width:110px;
        background:var(--theme-color-2);
        font-weight:300;
        text-transform:uppercase;
        font-size:14px;
        color:#fff;
        font-weight:700;
        -webkit-transition:all .3s;
        transition:all .3s;
        position:absolute;
        left:5%;
        cursor:pointer;
        margin-top:55px;
        z-index:99
    }
    .department-link .toggler-busca {
        width:100%;
        position:initial;
        margin:0
    }
    .department-link .toggler-busca:after {
        position: absolute;
        content:'\f00d';
        right: 15px;
        top:-1px;
        font-family: FontAwesome;
    }
    .department-link {
        position:fixed;
        /*! height:100%; */background:#fff;
        z-index:50;
        margin:0;
        box-sizing:border-box;
        max-width:unset;
        padding:0;
        -webkit-transition:.3s;
        transition:.3s;
        max-height:100vh;
        -webkit-transform:translateX(-100vw);
        -ms-transform:translateX(-100vw);
        transform:translateX(-100vw);
        z-index:100;
        bottom:0;
        width:80vw;
        top:0;
        left:0;
        overflow-y:auto;
        min-width:270px
    }
    .department-link.active {
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
    .department-reference {
        padding:20px 15px;
        box-sizing:border-box;
        display:none
    }
    .department-link.active .department-reference {
        display:block
    }
}
@media all and (max-width:767px) {
    .vitrine .vitrine .prateleira {
        display:-ms-grid;
        display:grid;
        -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr
    }
}
@media all and (max-width:567px) {
    .vitrine .vitrine .prateleira {
        display:-ms-grid;
        display:grid;
        -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr
    }
    .bread-crumb li a {
        font-size:12px
    }
    .box-item .product-image img {
        width:120px;
        height:120px
    }
    .box-item .product-image {
        height:150px
    }
}
@media all and (max-width:374px) {
    .vitrine .vitrine .prateleira {
        display:-ms-grid;
        display:grid;
        -ms-grid-columns:1fr;
        grid-template-columns:1fr
    }
}
