@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
:root {
    --theme-color-1:#F47E08;
    --theme-color-2:#E5680D;
    --theme-color-3:#fff;
    --theme-color-4:#E5E5E5;
    --theme-color-5:#BEBFBF;
    --theme-color-6:#E5680D;
    --theme-color-7:#FFFBF6;
    --theme-color-8:#1A8795;
    --theme-color-9:#cecece;
    --theme-color-10:#8798A4;
    --theme-color-11:#999999;
    --theme-color-12:#4A4951
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
:focus {
    outline:0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display:block
}
body {
    background:#f7f7f7
}
ol,
ul {
    list-style:none
}
blockquote,
q {
    quotes:none
}
* {
    text-rendering:optimizeLegibility
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content:'';
    content:none
}
li {
    list-style:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance:none;
    -moz-appearance:none
}
input[type=search] {
    -webkit-appearance:none;
    -moz-appearance:none;
    box-sizing:content-box
}
textarea {
    overflow:auto;
    vertical-align:top;
    resize:vertical
}
audio,
canvas,
video {
    display:inline-block;
    max-width:100%
}
audio:not([controls]) {
    display:none;
    height:0
}
[hidden] {
    display:none
}
html {
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body,
html {
    -webkit-font-smoothing:antialiased
}
a:focus {
    outline:thin dotted
}
a {
    text-decoration:none
}
a:active,
a:hover {
    outline:0;
    text-decoration:none
}
img {
    border:0;
    -ms-interpolation-mode:bicubic
}
figure {
    margin:0
}
form {
    margin:0
}
#ajaxBusy {
    display:none!important
}
fieldset {
    border:1px solid #bbb;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend {
    border:0;
    padding:0;
    white-space:normal
}
button,
input,
select,
textarea {
    font-size:100%;
    margin:0;
    vertical-align:baseline;
    outline:0
}
.img-responsive {
    max-width:100%;
    height:auto
}
button,
input {
    line-height:normal
}
button,
select {
    text-transform:none
}
.visible-mobile {
    display:none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],
html input[disabled] {
    cursor:default
}
input[type=checkbox],
input[type=radio] {
    box-sizing:border-box;
    padding:0
}
input[type=search] {
    -webkit-appearance:textfield;
    box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border:0;
    padding:0
}
textarea {
    overflow:auto;
    vertical-align:top
}
table {
    border-collapse:collapse;
    border-spacing:0
}
button,
html,
input,
select,
textarea {
    color:#222
}
::-moz-selection {
    background:#bcf;
    text-shadow:none
}
::selection {
    background:#bcf;
    text-shadow:none
}
img {
    vertical-align:middle
}
fieldset {
    border:0;
    margin:0;
    padding:0
}
.hidden {
    display:none
}
textarea {
    resize:vertical
}
.chromeframe {
    margin:.2em 0;
    background:#ccc;
    color:#000;
    padding:.2em 0
}
.pace {
    display:none
}
.container-search .busca {
    position:relative;
    box-sizing:border-box
}
.container-search .busca label,
.container-search .busca legend,
.container-search .busca select {
    display:none
}
*,
body {
    font-family:Roboto,sans-serif;
    font-size:18px
}
.max-container {
    width:90%;
    max-width:1200px;
    margin:0 auto
}
.news-error,
.news-ok,
.news-sucess {
    position:fixed;
    width:100%;
    height:100vh;
    z-index:9999999999999;
    background:#00000047;
    top:0;
    left:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
.news-container {
    background:#fff;
    padding:20px 10px;
    font-size:1.5rem;
    width:calc(100% - 20px);
    max-width:320px;
    box-sizing:border-box;
    text-align:center;
    border-radius:10px;
    height:auto;
    max-height:400px
}
.news-error-txt {
    border:3px solid var(--theme-color-1);
    color:#f23a29
}
.news-ok-txt {
    border:3px solid #ffb600;
    color:#ffb600
}
.news-sucess-txt {
    border:3px solid #63dc3e;
    color:#63dc3e
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    background:#fff;
    z-index:99999999999999999999999999!important;
    position:relative;
    border:2px solid var(--theme-color-1);
    top:-16px;
    margin-top:-3px;
    padding:10px;
    box-sizing:border-box;
    font-size:17px;
    max-width:540px;
    margin-left:5px
}
li.ui-menu-item {
    margin-bottom:5px;
    text-transform:capitalize
}
.whatsapp-fixed {
    position:fixed;
    z-index:50;
    bottom:10px;
    right:10px
}
@media (max-width:991px) {
    ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
        background:#fff;
        max-width:100%;
        left:0!important;
        width:100%!important;
        border:0;
        margin:0;
        top:0!important;
        position:fixed;
        display:none!important;
        height:calc(100% - 60px)
    }
    .whatsapp-fixed {
        bottom:50%;
        right:0;
        width:50px;
        height:50px;
        background:#fff;
        padding:10px 0;
        box-sizing:border-box;
        border-radius:20px 0 0 20px
    }
    .whatsapp-fixed img {
        width:100%;
        height:100%;
        object-fit:contain
    }
}
.banner-desktop,
.banner-minimobile,
.banner-mobile,
.banner-tablet {
    display:none!important
}
.banner-desktop img,
.banner-minimobile img,
.banner-mobile img,
.banner-tablet img {
    width:100%;
    height:auto
}
@media (min-width:992px) {
    .banner-desktop {
        display:block!important
    }
}
@media screen and (max-width:991px) and (min-width:768px) {
    .banner-tablet {
        display:block!important
    }
}
@media screen and (max-width:767px) and (min-width:568px) {
    .banner-mobile {
        display:block!important
    }
}
@media screen and (max-width:567px) {
    .banner-minimobile {
        display:block!important
    }
}
i.fa.fa-lock {
    display:none
}
.box-banner img {
    width:100%;
    height:auto
}
.owl-carousel {
    position:relative;
    padding:0
}
.owl-controls .owl-pagination {
    height:0;
    position:absolute;
    bottom:50px;
    text-align:center;
    width:100%;
    left:0;
    z-index:10
}
.owl-controls .owl-pagination .owl-page {
    display:inline-block;
    vertical-align:top;
    margin:0 2px;
    border:2px solid #fff;
    border-radius:100%;
    background-color:transparent;
    height:13px;
    width:13px;
    -webkit-transition:.3s all;
    transition:.3s all
}
.owl-controls .owl-pagination .owl-page:hover {
    background-color:#f8f8f8
}
.owl-controls .owl-pagination .owl-page.active,
.owl-controls .owl-pagination .owl-page.active:hover {
    background-color:#fff
}
.owl-controls .owl-buttons {
    height:0
}
.owl-controls .owl-buttons>div {
    position:absolute;
    top:50%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
}
.owl-controls .owl-buttons>div:hover {
    color:#e7e7e7
}
.owl-controls .owl-buttons>div.owl-prev {
    left:15px
}
.owl-controls .owl-buttons>div.owl-next {
    right:15px
}
.seta-esquerda::after {
    content:"";
    display:block;
    width:25px;
    height:25px;
    border-left:4px solid #fff;
    border-top:4px solid #fff;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.seta-direita::after {
    content:"";
    display:block;
    width:25px;
    height:25px;
    border-right:4px solid #fff;
    border-bottom:4px solid #fff;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.slick-prev.slick-arrow {
    font-size:0;
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:50%;
    -webkit-transform:translateY(-50%) rotate(45deg);
    -ms-transform:translateY(-50%) rotate(45deg);
    transform:translateY(-50%) rotate(45deg);
    z-index:50;
    border:0;
    border-left:5px solid var(--theme-color-8);
    border-bottom:5px solid var(--theme-color-8);
    background:0 0
}
.slick-next.slick-arrow {
    font-size:0;
    width:20px;
    height:20px;
    position:absolute;
    right:0;
    top:50%;
    -webkit-transform:translateY(-50%) rotate(45deg);
    -ms-transform:translateY(-50%) rotate(45deg);
    transform:translateY(-50%) rotate(45deg);
    z-index:50;
    border:0;
    border-right:5px solid var(--theme-color-8);
    border-top:5px solid var(--theme-color-8);
    background:0 0
}
.portal-notify-me-ref {
    position:absolute;
    z-index:11;
    background:#fff;
    top:-30px
}
.notifyme.sku-notifyme {
    text-align:center;
    border:unset;
    padding:10px 5px;
    box-sizing:border-box;
    background:#f5f5f5;
    box-shadow:0 0 3px rgba(0,0,0,.2)
}
h3.notifyme-title {
    font-weight:700;
    color:#999
}
.notifyme-form p {
    font-weight:300;
    color:#999;
    text-transform:lowercase;
    max-width:320px;
    margin:0 auto;
    margin-bottom:20px
}
.notifyme-form input {
    margin:5px 0;
    box-sizing:border-box;
    width:80%;
    height:35px;
    padding:0 15px;
    font-size:15px;
    border:1px solid #ddd;
    font-weight:300;
    font-style:italic;
    color:#999
}
#notifymeButtonOK {
    display:block!important;
    margin-left:auto;
    margin-right:auto;
    background:#202020;
    height:40px;
    border:0;
    color:#fff
}
.freight-values table thead {
    display:none
}
.freight-values table {
    width:100%;
    margin:10px 0
}
.freight-values tbody tr td:last-child {
    display:none
}
.freight-values tbody tr td {
    background:#f7f7f7;
    color:#636363;
    padding:15px;
    font-weight:300;
    font-size:18px;
    text-align:center
}
.freight-values tbody tr td:first-child,
.freight-values tbody tr td:nth-child(2) {
    border-right:1px solid #fff;
    text-align:center
}
table {
    background:#f5f5f5
}
table,
tbody,
tfoot {
    display:block!important
}
tr {
    display:-webkit-box!important;
    display:-webkit-flex!important;
    display:-ms-flexbox!important;
    display:flex!important;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    height:40px;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    padding:0 10px;
    font-size:13px
}
#caracteristicas tr:nth-child(2n+1) {
    background:#ddd
}
tr>* {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    text-align:left
}
th {
    font-weight:500
}
td {
    font-weight:300
}
* {
    outline:none !important;
}
