.main-banner .arrow-banner {
    width:20px;
    height:20px
}
.main-banner .owl-prev {
    left:20px!important
}
.main-banner .owl-next {
    right:20px!important
}
.main-banner .owl-pagination {
    display:none
}
.main-banner {
    margin-bottom:20px
}
.main-icons {
    margin:20px auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    border:1px solid var(--theme-color-10);
    margin-bottom:20px;
    border:none
}
.main-icons .icon {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:100px;
    background:#fff
}
.main-icons .icon p {
    text-align:left;
    max-width:175px;
    font-size:14px;
    font-weight:700;
    color:var(--theme-color-12);
    padding:20px 0;
    margin-left:25px;
    text-transform:uppercase;
    padding:0 25px
}
.backgroundbranco {
    background-color:var(--theme-color-3)
}
@media all and (max-width:991px) {
    .main-icons {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .main-icons .icon {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        padding:20px 0!important
    }
    .main-icons .icon p {
        padding:0!important;
        margin:10px 0;
        text-align:center
    }
    .main-icons .icon+.icon {
        border-left:unset!important
    }
    .main-icons .slick-next,
    .main-icons .slick-prev {
        display:none!important
    }
    .backgroundbranco,
    .main-icons .icon {
        background:unset;
        background-color:unset
    }
    .icon.slick-slide {
        opacity:.5;
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        transform:scale(.6);
        -webkit-transition:.1s;
        transition:.1s
    }
    .icon.slick-active {
        opacity:.8;
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        transform:scale(.8)
    }
    .icon.slick-active.slick-current {
        background:#fff;
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@media all and (max-width:767px) {
    .icon.slick-slide {
        background:#fff;
        background-color:#fff;
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        transform:scale(.8);
        opacity:.8
    }
    .main-icons .icon p {
        padding:0 20px!important;
        margin:10px 0;
        text-align:center;
        font-size:10px
    }
}
@media all and (max-width:567px) {
    .icon.slick-slide {
        background:#fff;
        background-color:#fff;
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        transform:scale(.8);
        opacity:.8
    }
    .icon.slick-active,
    .icon.slick-active.slick-current {
        background:#fff;
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    .main-icons .icon p {
        padding:0 20px!important;
        margin:10px 0;
        text-align:center;
        font-size:10px
    }
}
