@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
:root {
    --theme-color-1:#F47E08;
    --theme-color-2:#E5680D;
    --theme-color-3:#fff;
    --theme-color-4:#E5E5E5;
    --theme-color-5:#BEBFBF;
    --theme-color-6:#E5680D;
    --theme-color-7:#FFFBF6;
    --theme-color-8:#1A8795;
    --theme-color-9:#cecece;
    --theme-color-10:#8798A4;
    --theme-color-11:#999999;
    --theme-color-12:#4A4951
}
*,
body {
    font-family:Roboto,sans-serif
}
.close-login {
    position:fixed;
    z-index:9999999999;
    bottom:50px;
    left:50%;
    margin-left:-15px;
    width:30px;
    height:30px
}
.close-login img {
    -webkit-filter:brightness(0);
    filter:brightness(0);
    width:100%;
    height:100%;
    object-fit:contain
}
.vtexid-icon-facebook,
.vtexid-icon-google-plus,
.vtexid-icon-lock,
i.vtexid-icon-mail {
    display:none
}
.vtexIdUI .modal-footer {
    background:0 0!important;
    border:0!important;
    padding:0!important;
    box-shadow:none;
    border-radius:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:column-reverse;
    -ms-flex-direction:column-reverse;
    flex-direction:column-reverse;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.vtexid-icon-arrow-left:before {
    content:"\e600";
    color:var(--theme-color-3);
    vertical-align:text-bottom;
    position:relative;
    top:3px
}
a.vtexIdUI-back-link {
    color:var(--theme-color-3)!important;
    font-weight:500;
    margin:0!important;
    margin-top:20px!important;
    text-transform:uppercase;
    letter-spacing:1px!important
}
.vtexIdUI {
    background:0 0!important;
    border:0!important;
    box-shadow:none!important;
    top:45%!important;
    margin:0 auto!important;
    left:0!important;
    right:0!important;
    width:calc(100% - 15px)!important;
    -webkit-transform:translateY(-50%)!important;
    -ms-transform:translateY(-50%)!important;
    transform:translateY(-50%)!important;
    max-width:400px!important;
    overflow:unset!important
}
.vtexIdUI .modal-body {
    background:unset!important;
    max-height:unset!important;
    padding:0!important
}
.vtexIdUI .modal-header {
    background:unset!important;
    border:0!important;
    padding:0!important;
    text-align:center!important
}
.vtexIdUI .btn {
    font-weight:300!important;
    font-weight:unset!important;
    text-shadow:unset!important;
    font-size:13px!important;
    letter-spacing:1px!important;
    border:0!important;
    height:50px!important;
    line-height:50px;
    padding:0!important;
    border-radius:0!important;
    text-transform:uppercase!important;
    box-shadow:none!important;
    background:var(--theme-color-8)!important;
    color:var(--theme-color-3)!important;
    float:unset!important;
    width:100%;
    display:block
}
input {
    outline:0!important
}
input {
    border:2px solid var(--theme-color-2)!important;
    box-shadow:none!important;
    border-radius:unset!important;
    padding:0 10px!important;
    height:50px!important;
    font-weight:300!important;
    font-size:20px!important;
    color:var(--theme-color-5)!important
}
div#vtexIdContainer {
    background:var(--theme-color-1)!important
}
.vtexIdUI-heading {
    color:var(--theme-color-5)!important;
    font-weight:400!important;
    font-size:0!important
}
.vtexIdUI-heading::after {
    font-size:20px!important;
    letter-spacing:1px!important
}
.vtexIdUI-heading::before {
    display:block;
    content:"";
    width:200px!important;
    height:100px!important;
    background:url(/arquivos/logo.png) no-repeat;
    background-position:center!important;
    background-size:contain!important;
    margin:0 auto!important;
    margin-bottom:20px!important
}
.vtexIdUI-heading {
    margin:0!important;
    margin-bottom:20px!important
}
.vtexIdUI .vtexIdUI-auth-code .vtexIdUI-code-field {
    margin:0 auto;
    width:100%;
    margin:20px 0
}
.vtexIdUI .vtexIdUI-auth-code .info-code {
    color:var(--theme-color-5);
    margin-bottom:4px;
    font-weight:500;
    font-size:16px;
    font-weight:unset!important
}
div#vtexIdUI-classic-login a {
    color:var(--theme-color-3)!important;
    font-size:15px!important;
    font-weight:300!important;
    margin-bottom:20px!important
}
div#vtexIdUI-classic-login .control-label {
    font-weight:500;
    color:var(--theme-color-3);
    font-size:18px!important;
    text-transform:uppercase
}
div#vtexIdUI-change-pswd span {
    color:var(--theme-color-2)!important;
    font-size:18px!important;
    font-weight:300!important;
    margin-bottom:20px!important;
    color:var(--theme-color-2)!important;
    letter-spacing:1px
}
.vtexid-icon-user:before {
    content:"\e605";
    color:var(--theme-color-2)
}
div#vtexIdUI-auth-selector .vtexIdUI-heading::after {
    content:"Confirmar identidade";
    color:var(--theme-color-3)
}
div#vtexIdUI-email-confirmation .vtexIdUI-heading::after {
    content:"Confirmação de email";
    color:var(--theme-color-3)
}
div#vtexIdUI-confirm-access-code .vtexIdUI-heading::after {
    content:"Confime seu código por email";
    color:var(--theme-color-3)
}
div#vtexIdUI-classic-login .vtexIdUI-heading::after {
    content:"Insira seu email e senha";
    color:var(--theme-color-3)
}
div#vtexIdUI-change-pswd .vtexIdUI-heading::after {
    content:"Mude sua senha";
    color:var(--theme-color-3)
}
@media all and (max-width:567px) {
    .vtexIdUI-heading::before {
        display:block;
        content:"";
        height:60px!important;
        background:url(/arquivos/logo.png) no-repeat;
        background-position:center!important;
        margin:0 auto!important;
        margin-bottom:20px!important
    }
}
