.main-topbar {
    background:var(--theme-color-1);
    padding:10px 0;
    text-align:right;
    border-bottom:2px solid var(--theme-color-2)
}
.main-topbar,
.main-topbar a {
    font-weight:400;
    color:var(--theme-color-3);
    font-size:11px
}
.pipe {
    margin:0 10px;
    color:var(--theme-color-3)
}
.main-head {
    background:var(--theme-color-1);
    position:relative;
    padding:10px 0
}
.main-head .max-container {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:10px 0
}
.container-logo img {
    max-width:180px;
    display:block;
    margin:0 auto
}
.container-search {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    text-align:center
}
.container-search .busca {
    max-width:450px;
    margin:0 auto
}
.container-search .fulltext-search-box {
    border:1px solid #e9e9e9;
    font-weight:500;
    height:41px;
    width:100%;
    max-width:450px;
    padding:0 20px;
    box-sizing:border-box;
    font-size:14px;
    color:#838383
}
.container-search input::-webkit-input-placeholder {
    color:var(--theme-color-1) 0
}
.container-search input::-moz-placeholder {
    color:var(--theme-color-1) 0
}
.container-search input:-ms-input-placeholder {
    color:var(--theme-color-1) 0
}
.container-search input::-ms-input-placeholder {
    color:var(--theme-color-1) 0
}
.container-search input::placeholder {
    color:var(--theme-color-1) 0
}
.container-profile-controls a+a {
    margin-left:40px
}
.container-search .btn-buscar {
    position:absolute;
    top:0;
    right:5px;
    height:100%;
    width:30px;
    border:0;
    background:url(/arquivos/lupa.png) no-repeat;
    background-position:center;
    background-size:20px;
    font-size:0;
    box-sizing:border-box
}
.toggler-cart {
    position:relative;
    display:inline-block;
    margin-left:20px
}
.mini-cart-qty-admake {
    position:absolute;
    bottom:-5px;
    right:-5px;
    width:20px;
    height:20px;
    text-align:center;
    background:#999;
    line-height:20px;
    border-radius:50%;
    font-family:fonte-light;
    font-size:15px;
    color:#fff
}
.toggler-search-mobile {
    display:none
}
.menu-container {
    background:var(--theme-color-2);
    position:relative
}
.menu-container>.max-container {
    display:-ms-grid;
    display:grid;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-grid-columns:270px 1fr;
    grid-template-columns:270px 1fr
}
.line {
    width:30px;
    height:4px;
    background:var(--theme-color-7);
    display:block;
    -webkit-transition:.5s;
    transition:.5s
}
.line+.line {
    margin-top:4px
}
.btn-menu.active .line {
    background:var(--theme-color-1)
}
.btn-menu.active .line-1 {
    -webkit-transform:rotate(45deg) translateX(5px) translateY(6px);
    -ms-transform:rotate(45deg) translateX(5px) translateY(6px);
    transform:rotate(45deg) translateX(5px) translateY(6px)
}
.btn-menu.active .line-2 {
    opacity:0
}
.btn-menu.active .line-3 {
    -webkit-transform:rotate(-45deg) translateX(5px) translateY(-6px);
    -ms-transform:rotate(-45deg) translateX(5px) translateY(-6px);
    transform:rotate(-45deg) translateX(5px) translateY(-6px)
}
.main-menu>li {
    display:inline-block;
    height:40px;
    line-height:40px;
    -webkit-transition:.5s;
    transition:.5s;
    padding:0 20px;
    position:relative
}
.main-menu>li:hover {
    background:var(--theme-color-2)
}
.main-menu>li a {
    font-weight:500;
    color:var(--theme-color-7);
    font-size:14px
}
.main-menu>li:hover>a {
    color:var(--theme-color-7)
}
.menu-item .sub-menu {
    position:absolute;
    top:100%;
    left:0;
    width:auto;
    z-index:50;
    opacity:0;
    visibility:hidden;
    -webkit-transition:.5s;
    transition:.5s
}
.menu-item:hover>.sub-menu {
    opacity:1;
    visibility:visible
}
.sub-menu .sub-menu-item {
    padding:0 15px;
    border-top:1px solid var(--theme-color-3);
    line-height:40px;
    height:40px;
    background:var(--theme-color-1);
    width:200px
}
.sub-menu-item:hover {
    background:var(--theme-color-2)
}
.menu-item .sub-menu a {
    font-weight:300;
    color:var(--theme-color-7);
    letter-spacing:1px;
    font-size:14px
}
.menu-item .sub-menu .max-container {
    display:block;
    width:100%
}
.all-title {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    height:40px;
    cursor:pointer;
    width:280px;
    -webkit-transition:.3s;
    transition:.3s;
    padding:0 10px;
    box-sizing:border-box
}
.all-title p {
    margin-left:17px;
    font-weight:700;
    font-size:14px;
    color:var(--theme-color-7)
}
.all-title.active {
    background:var(--theme-color-4);
    font-size:0
}
.all-title.active::after {
    content:"FECHAR";
    font-weight:700;
    font-size:16px;
    color:var(--theme-color-1)
}
.all-title.active p {
    font-size:0
}
.all-menu {
    visibility:hidden;
    opacity:0
}
.all-menu-container:hover .all-menu {
    opacity:1;
    visibility:visible
}
.all-menu-container:hover .all-title {
    background:var(--theme-color-2)
}
.all-menu>.max-container {
    position:absolute;
    padding-bottom:2px;
    margin-left:0;
    width:auto;
    opacity:1;
    z-index:50
}
.all-item {
    width:280px;
    min-height:40px;
    line-height:20px;
    background:var(--theme-color-2);
    border-top:1px solid var(--theme-color-3);
    cursor:pointer;
    padding:10px 10px;
    box-sizing:border-box;
    position:relative
}
.all-item>a {
    color:var(--theme-color-7);
    font-weight:400;
    font-size:14px;
    display:block
}
.sub-menu-all-item-container {
    position:absolute;
    left:100%;
    top:0;
    height:100%;
    opacity:0;
    visibility:hidden;
    -webkit-transition:.3s;
    transition:.3s
}
.all-item:hover .sub-menu-all-item-container {
    opacity:1;
    visibility:visible
}
.all-item:hover {
    background:var(--theme-color-1)
}
ul.sub-menu-all-item-container>li {
    display:inline-block;
    width:250px;
    height:auto;
    padding:10px;
    background:var(--theme-color-1)
}
ul.sub-menu-all-item-container>li+li {
    margin-left:0
}
ul.sub-menu-all-item-container>li a {
    font-weight:300;
    color:var(--theme-color-7);
    letter-spacing:1px;
    font-size:14px
}
ul.sub-menu-all-item-container>li:hover {
    background:var(--theme-color-2)
}
.carrinho {
    background:#fff;
    position:absolute;
    top:100%;
    width:100%;
    left:0;
    z-index:50;
    border-bottom:2px solid var(--theme-color-2);
    padding-bottom:5px;
    display:none
}
.carrinho .max-container {
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start
}
.carrinho-header span {
    font-weight:700;
    font-size:23px;
    color:var(--theme-color-1)
}
.carrinho-header img {
    width:25px;
    -webkit-filter:brightness(0);
    filter:brightness(0)
}
.carrinho.loading::after,
.cart-item.loading::after {
    content:'';
    position:absolute;
    z-index:50;
    background:url(/arquivos/loading.gif) no-repeat rgba(255,255,255,.5);
    background-position:center;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.carrinho.loading::after {
    background-size:150px
}
.cart-item.loading::after {
    background-size:50px
}
.cart-item {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:220px auto;
    grid-template-columns:220px auto;
    -ms-grid-rows:auto auto;
    grid-template-rows:auto auto;
    position:relative
}
.cart-item>:nth-child(1) {
    -ms-grid-row:1;
    -ms-grid-column:1
}
.cart-item>:nth-child(2) {
    -ms-grid-row:1;
    -ms-grid-column:2
}
.cart-item>:nth-child(3) {
    -ms-grid-row:2;
    -ms-grid-column:1
}
.cart-item>:nth-child(4) {
    -ms-grid-row:2;
    -ms-grid-column:2
}
.cart-img {
    -ms-grid-row:1;
    -ms-grid-row-span:2;
    grid-row:1/span 2;
    width:200px;
    height:200px;
    border:1px solid var(--theme-color-9);
    padding:5px;
    box-sizing:border-box
}
.cart-item+.cart-item {
    margin-top:20px
}
.cart-img img {
    width:100%;
    height:100%;
    object-fit:contain
}
.cart-details {
    margin-top:10px;
    width:450px
}
.item-name {
    font-weight:700;
    color:var(--theme-color-2);
    display:block;
    font-size:14px
}
.item-sku-name {
    font-weight:400;
    font-size:18px
}
.item-brand,
.item-ref-code {
    display:block;
    font-weight:300;
    font-size:18px
}
.box-valor {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end;
    margin-bottom:20px
}
.box-title {
    display:block;
    font-weight:300;
    font-size:18px;
    margin-bottom:5px
}
.item-price strong {
    font-weight:700;
    line-height:14px;
    color:var(--theme-color-2)
}
.btn-add,
.btn-remove {
    background:var(--theme-color-2);
    border:0;
    color:#fff;
    padding:0;
    font-weight:300;
    height:20px;
    width:20px;
    font-size:20px;
    display:inline-block;
    text-align:center;
    line-height:18px;
    cursor:pointer
}
.item-qtd {
    display:inline-block;
    font-weight:400;
    width:20px;
    text-align:center
}
.btn-delete {
    width:30px;
    height:30px;
    border:1px solid var(--theme-color-9);
    border-radius:100%;
    font-size:15px;
    color:var(--theme-color-9);
    text-align:center;
    background:#fff;
    padding:0;
    margin-bottom:-1px
}
.cart-inf {
    position:-webkit-sticky;
    position:sticky;
    top:100px;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    max-width:300px
}
.mini-cart-totais {
    border:4px solid var(--theme-color-2);
    padding:5px;
    box-sizing:border-box;
    margin-bottom:10px
}
.cart-inf .totais>div {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    border-bottom:2px solid var(--theme-color-5);
    padding:5px
}
.cart-inf .totais>h6 {
    text-align:center;
    font-weight:700;
    font-size:18px;
    margin-bottom:5px;
    border-bottom:2px solid var(--theme-color-2);
    height:30px;
    line-height:30px;
    color:var(--theme-color-2)
}
.totais>div .text {
    font-weight:400;
    font-size:18px;
    color:var(--theme-color-2)
}
.totais>div .money {
    font-weight:300;
    font-size:18px;
    color:var(--theme-color-2);
    line-height:18px
}
.box-total .money {
    font-weight:700!important;
    font-size:13px!important
}
.mini-cart-botao a {
    text-align:center;
    height:40px;
    line-height:40px;
    display:block;
    background:var(--theme-color-2);
    color:#fff;
    font-weight:500;
    font-size:16px
}
.field-frete {
    font-weight:300;
    width:70%;
    padding:0 5px;
    box-sizing:border-box;
    height:38px;
    border:0;
    outline:0;
    border-bottom:2px solid var(--theme-color-2);
    font-size:18px
}
.btn-frete {
    height:40px;
    box-sizing:border-box;
    border:0;
    background:var(--theme-color-2);
    color:var(--theme-color-3);
    font-weight:300;
    width:30%;
    font-size:18px
}
@media all and (max-width:991px) {
    .toggler-search-mobile {
        display:inline-block;
        vertical-align:middle;
        background:0 0;
        border:unset;
        -webkit-filter:brightness(100);
        filter:brightness(100);
        margin-right:15px;
        padding:0
    }
    .all-menu-container,
    .container-profile-controls a:first-child,
    .main-topbar {
        display:none
    }
    .main-head {
        background:var(--theme-color-1);
        border-bottom:2px solid var(--theme-color-2)
    }
    .container-logo img,
    a.toggler-cart img {
        -webkit-filter:brightness(100);
        filter:brightness(100)
    }
    a.toggler-cart img {
        max-width:20px
    }
    .container-search {
        position:absolute;
        top:100%;
        width:100%;
        z-index:50;
        right:0;
        -webkit-transition:.5s;
        transition:.5s;
        visibility:hidden;
        opacity:0
    }
    .toggler-search-mobile::after {
        content:"";
        background:url(/arquivos/close-mobile.png) no-repeat;
        width:100%;
        height:100%;
        background-size:contain;
        background-position:center;
        display:block;
        position:absolute;
        top:0;
        opacity:0;
        visibility:hidden
    }
    .container-search.active,
    .toggler-search-mobile.active::after {
        visibility:visible;
        opacity:1
    }
    .toggler-search-mobile.active img {
        opacity:0
    }
    .container-search .busca,
    .container-search .fulltext-search-box {
        max-width:unset
    }
    .menu-container {
        position:fixed;
        top:0;
        left:-100%;
        z-index:100;
        width:80vw;
        max-width:400px;
        height:100%;
        overflow-y:auto;
        -webkit-transition:.5s;
        transition:.5s;
        min-width: 280px;
    }
    .menu-container.active {
        left:0
    }
    .menu-container>.max-container {
        display:block;
        padding-bottom:250px;
        width:100%;
    }
    .menu-container {
        background:var(--theme-color-2)
    }
    .header-login-mobile {
        display:-webkit-box!important;
        display:-webkit-flex!important;
        display:-ms-flexbox!important;
        display:flex!important;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
        justify-content:space-between;
        padding-right:20px!important;
        height:60px!important
    }
    .header-login-mobile a p {
        display:inline;
        margin-left:15px;
        font-size:15px;
        font-weight:700;
        vertical-align:middle
    }
    .header-login-mobile .toggle-menu {
        max-width:25px
    }
    .main-menu li {
        display:block;
        height:unset;
        min-height:50px;
        line-height:50px;
        padding:0;
        position:relative
    }
    .main-menu>li a {
        font-weight:700;
        font-size:13px;
        display:block;
        padding:0 20px;
        box-sizing:border-box
    }
    .sub-menu .sub-menu-item {
        width:100%;
        border:0;
        line-height:40px;
        padding:0;
        height:40px;
        min-height:unset;
        border-bottom:1px solid var(--theme-color-2)
    }
    .main-menu>li+li {
        margin-left:0;
        border-top:1px solid var(--theme-color-9)
    }
    .main-head .max-container>* {
        -webkit-box-flex:1;
        -webkit-flex:1;
        -ms-flex:1;
        flex:1;
        text-align:right
    }
    .all-title p {
        margin:0
    }
    .menu-item .sub-menu a {
        font-size:14px
    }
    .open-sub {
        width:50px;
        height:50px;
        position:absolute;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        right:0;
        top:0
    }
    .open-sub::after {
        content:"";
        width:7px;
        height:7px;
        border-right:2px solid var(--theme-color-7);
        border-bottom:2px solid var(--theme-color-7);
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        transform:rotate(45deg);
        display:block;
        margin-top:-4px
    }
    .menu-item .sub-menu {
        position:static;
        visibility:visible;
        opacity:1;
        background:var(--theme-color-1);
        -webkit-transition:unset;
        transition:unset;
        border:0;
        display:none;
        padding:0
    }
    .main-menu li:hover {
        background:unset
    }
    .menu-item .sub-menu .max-container {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        text-align:left;
        -ms-grid-columns:1fr;
        grid-template-columns:1fr
    }
    .box-shadow {
        position:fixed;
        height:100%;
        width:100%;
        background:rgba(0,0,0,.5);
        z-index:50;
        display:none;
        top:0
    }
    .menu-open {
        overflow:hidden
    }
    .carrinho .max-container {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center
    }
    .carrinho-header.max-container {
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
        -ms-flex-direction:row;
        flex-direction:row
    }
    .cart-inf {
        width:100%;
        margin-top:40px
    }
}
@media all and (max-width:767px) {
    .main-topbar,
    .main-topbar a {
        text-align:center
    }
    .cart-item {
        -ms-grid-columns:auto;
        grid-template-columns:auto;
        -ms-grid-rows:auto;
        grid-template-rows:auto;
        border:1px solid #f7f7f7;
        padding-top:10px
    }
    .cart-item>:nth-child(1) {
        -ms-grid-row:1;
        -ms-grid-column:1
    }
    .cart-img {
        display:block;
        margin:10px auto;
        border:0;
        padding:0
    }
    .cart-details {
        text-align:center
    }
    .box-valor {
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        text-align:center;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        margin-bottom:20px;
        background:#f7f7f7;
        margin:10px 0;
        padding:10px 0;
        margin-bottom:0
    }
    .box-valor>* {
        margin:10px 0
    }
    .btn-delete::after {
        content:"REMOVER ITEM";
        font-size:15px
    }
    .btn-delete {
        width:unset;
        height:40px;
        border:1px solid var(--theme-color-9);
        border-radius:5px;
        font-size:0;
        color:var(--theme-color-9);
        text-align:center;
        background:0 0;
        padding:0 10px
    }
}
@media all and (max-width:767px) {
    .container-logo img {
        width:120px
    }
    .main-topbar {
        display:none
    }
    .container-profile-controls {
        text-align:right
    }
}
@media all and (max-width:567px) {
    .toggler-cart {
        margin-left:0
    }
}
